body{
	background: #ffbb33;
}

h3{
	background: #cccccc;
	padding: 5px;
	font-family: Trebuchet MS;
	color: #595959;
	margin-top: 0px;
	margin-bottom: 0px
}

#menu a:link{
	color: #ffffff; 
}

#menu a:visited{
	color: #ffffff;
}

#menu a:hover{
	color: #ffbb33;
	background-color: #ffffff;	
}

#tec{
	color: #404040;
	font-family: Trebuchet MS;
	font-size: 42px;
}

#blog{
	color: white;
	font-family: Trebuchet MS, Helvetic, sans-serif;
	font-size: 42px;
}

#menu{
	background: #ffbb33;
}

#links-menu{
	text-align: center;
	margin-bottom: 30px;
}

#corpo{
	position: relative;
	left: -10px;
	background: #e6e6e6;
	padding: 15px;
	width: 99.1%;
}

#rodape{
	margin-top: 20px;
	text-align: center;
	font-weight: 900;	
	font-family: Trebuchet MS;
}

#postagens-recentes{
	background: #ffffff;
	padding: 10px 10px 20px 10px;
	width: 250px;
	float: right;
	position: relative;
	right: 110px;
	top: 20px;
	font-family: Trebuchet MS;
}

#postagens-recentes a:link, #postagens-recentes a:visited{
	background: white;
	color: #ffbb33;
	padding: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#postagens-recentes a:hover{
	background: #ffbb33;
	color: white;
}

#categorias{
	background: #ffffff;
	padding: 10px 10px 20px 10px;
	width: 250px;
	float: right;
	position: relative;
	bottom: 1115px;
	right: 110px;
	font-family: Trebuchet MS;
}

#categorias a:link, #categorias a:visited{
	color: #ffbb33;
	background: white;
	text-decoration: none;
}

#categorias a:hover{
	background: #ffbb33;
	color: white;
}

.links-menu{
	padding: 8px;
	margin: 20px;
	text-decoration: none;
	font-weight: 900;
	font-family: Trebuchet MS;
}

.link-categorias{
	
	text-align: left;
	text-decoration: none;
	font-weight: 900;
	font-family: Trebuchet MS;


}


.postagem{
	width: 640px;
	background-color: #ffffff;
	margin-left: 240px;
	margin-top: 20px;
	border: 20px #ffffff solid;
	font-family: Trebuchet MS;
}

.titulo-postagem{
	margin-top: 5px;
	margin-bottom: 1px;
	color: #ffbb33;
}

.imagem-postagem{
	padding-top: 20px;


}

.link{
	padding: 10px;
	background: #ffbb33;
	text-decoration: none;
}

.margin-topo{
	margin-top: 20px;
}

.clear{
	clear: both;
}

